@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body {
    font-family: 'Fjalla One', sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}
.container h2{
    font-family: 'Great Vibes', cursive;
}
.col-lg-5 img{
    border-radius: 10%;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
}

a:hover {
    color: #f53117;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Btn */
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #f51e17;
    background-color: #f51e17;
}

.btn-brand:hover {
    border-color: #d33710;
    background-color: #d32d10;
    color: #fff;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/fruit.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/pexels-mikhail-nilov-6707512.jpg);
}

#heroSlider h6::after,
#heroSlider h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}


/* Navbar */
.navbar-nav .nav-link.active {
    color: #f53817;
}

/* About */
#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #f52617;
}

/* Intro text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}
/* Footer */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/footer.jpg);
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a{
    color: rgba(255, 255, 255, 0.75);
}

footer .social-links a {
    font-size: 24px;
    margin-right: 10px;
}

footer img {
    max-width: 175px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
